@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <form method="post">
        <div class="row">
            <div class="col">             
                <label asp-for="Address.Street"></label>
                <span asp-validation-for="Address.Street" class="text-danger"></span>
                <input asp-for="Address.Street" /><br />
            </div>
            <div class="col">
                <label asp-for="Address.Number"></label>
                <input asp-for="Address.Number" /><br />
            </div>
            <div class="col">
                <label asp-for="Address.ZipCode"></label>
                <input asp-for="Address.ZipCode" /><br />
            </div>
            <div class="col">
                <label asp-for="Address.City"></label>
                <input asp-for="Address.City" /><br />
            </div>
        </div>
        <button type="submit" class=" btn btn-primary">Zatwierdź</button>
    </form>
</div>
